h2 {
    text-align: left;
    margin-left: 40px;
    font-weight: lighter;
    margin-bottom: 24px;
}

ul {
    display: flex;
    list-style: none;
    overflow-x: scroll;
    padding-bottom: 12px;
}

li {
    display: flex;
    background-color: #31376e;
    margin: 0 12px;
    border-radius: 20px;
}

img {
    scale: 50%;
    margin: -24px;
}

.data {
    width: 70px;
    margin-right: 12px;
    margin-top: 12px;
}

.current-data {
    background-color: #247BA0;
}

.temperature {
    font-size: 20px;
}