@import url('https://fonts.googleapis.com/css?family=Ruda:400,900');

::ng-deep * {
    font-family: 'Ruda', sans-serif;
    color: white;
}

body {
    background-color: #21295C;
    height: 100%;
    width: 100%;
    position: absolute;
}

* {
    text-align: center;
}

h1 {
    margin: 24px 0;
}

:host app-header {
    margin: 0 48px;
}

:host app-navigation-menu {
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
}